body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    text-align: center;
    font-size: x-large
}

header {
   background-color: darksalmon; 
   text-align: center;
   padding: 15px;
 }

 nav {
    background-color: #f7d07c;
    text-align: center;
    font-size: larger;
    padding: 10px; 
 }

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
 }

 nav li {
    display: inline-block;
    margin-right: 10px;
 }

 nav a {
    text-decoration: none;
    color: #333;
 }

    main {
        padding: 4rem;
        text-align: center;
    }

    ul {
        display: inline-block;
    }

{
    display:list-item;
}





